<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 my-5">
            <div class="card">
                <div class="card-body p-4 p-md-5">
                    <h1 class="text-center mb-4">Agenda</h1>
                    <p class="text-center lead mb-5">Crie ou edite seu contato abaixo</p>

                    <%- include('includes/messages') %>

                    <div class="p-4 p-md-5" style="background-color: var(--background-color); border-radius: var(--border-radius);">
                        <% if(contato._id) { %>
                        <form action="/contatos/edit/<%= contato._id %>" method="post">
                        <% } else { %>
                        <form action="/contatos/register" method="post">
                        <% } %>

                            <div class="form-group mb-4"> 
                                <label class="font-weight-medium">Nome</label>
                                <input value="<%= contato.nome %>" type="text" class="form-control" name="nome">
                            </div>       

                            <div class="form-group mb-4"> 
                                <label class="font-weight-medium">Sobrenome</label>
                                <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome">
                            </div>            

                            <div class="form-group mb-4"> 
                                <label class="font-weight-medium">Email</label>
                                <input value="<%= contato.email %>" type="email" class="form-control" name="email">
                            </div> 

                            <div class="form-group mb-5"> 
                                <label class="font-weight-medium">Telefone</label>
                                <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone">
                            </div> 

                            <div class="d-flex justify-content-between align-items-center">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a href="/" class="text-muted">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
