<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 my-5">
            <div class="card shadow-lg" style="border: none; border-radius: 15px; background-color: #4F1C51;">
                <div class="card-body p-5">
                    <h1 class="text-center mb-4" style="color: #DCA06D;">Olá <%= user.email %></h1>
                    
                    <div class="p-4 text-center" style="background-color: #210F37; border-radius: 10px; color: white;">
                        <% if(user) { %>
                            <p class="lead mb-4">Você precisa sair para criar outra conta</p>
                            <a href="/login/logout" class="btn" style="background-color: #DCA06D; border: none; border-radius: 8px; color: white;">Sair</a>
                        <% } %>
                    </div>
                    
                    <%- include('includes/messages') %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
